<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.9.0" targetFramework="net472" />
</packages>